{% extends 'base.html' %}  
{% load static %} 
{% block content %}

<div class="page-header">
  <h1>Delete Plant?</h1>
  <img src="{% static 'images/nerd-plant.svg' %}" alt="A plant using a computer" />
</div>

<h2>Are you sure you want to delete {{ plant.name }}?</h2>

<form action="" method="post" class="form">
  {% csrf_token %}
  <a href="{% url 'plant-detail' plant.id %}" class="btn secondary">Cancel</a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
</form>

{% endblock %}
