{% extends 'base.html' %} 
{% block content %}
<h1>About the Plant Collector</h1>
<hr />
<p class="page-content">
  🌿 This app helps users collect traditional plant remedies, track their uses, and store natural recipes for everyday ailments. 
</p>
<p class="page-content">
  This app is inspired by traditional plant remedies passed down through generations.
  Users can collect medicinal plants like manzanilla or yerba buena, learn what they’re used for—like easing nausea or calming a cough—and 
  store recipes for each one. 
</p>
<p class="page-content">
  Each remedy includes ingredients and instructions so users can explore healing the natural way.
  Only signed-in users can create, update, or delete remedies. Perfect for anyone curious about plant-based healing!
</p>
<p class="page-content">
  Built with Django, PostgreSQL, and a lot of love for plants and traditions. 
  Currently job seeking—let’s build beautiful things together!
</p>

</p></p>
{% endblock %}
