.card {
  /* border: 2px solid green; */
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 90%;
  max-width: 800px;
}

.plant-name {
  /* border: 2px solid green; */
  font-size: 6.6rem; /* Increase font size */
}

.plant-ailment {
  /* border: 2px solid green; */
  font-size: 1.4rem; /* Increase font size */
}

.plant-description {
  /* border: 2px solid green; */
  font-size: 1.3rem; /* Increase font size */
}

.plant-origin {
  /* border: 2px solid green; */
  font-size: 1.3rem; /* Increase font size */
}
/* feedings */
.add-feeding-title {
  /* border: 2px solid green; */
  font-size: 1.5rem; /* Increase font size */
}

.past-feedings-title {
  /* border: 2px solid green; */
  font-size: 1.4rem; /* Increase font size */
}

.feedings-table {
  /* border: 2px solid green; */
  font-size: 1.2rem; /* Increase font size */
}

.no-feedings-warning {
  /* border: 2px solid green; */
  font-size: 11.2rem; /* Increase font size */
}

.recipes-list {
  /* border: 2px solid green; */
  font-size: 1.3rem; /* Increase font size */
}

.recipe-item {
  /* border: 2px solid green; */
  font-size: 1.2rem; /* Increase font size */
}

.recipe-title {
  /* border: 2px solid green; */
  font-size: 1.6rem; /* Increase font size */
}

.recipe-description {
  /* border: 2px solid green; */
  font-size: 1.3rem; /* Increase font size */
}

.recipe-instructions {
  /* border: 2px solid green; */
  font-size: 1.3rem; /* Increase font size */
}

.add-recipe-title {
  /* border: 2px solid green; */
  font-size: 1.5rem; /* Increase font size */
}

.add-recipe-form {
  /* border: 2px solid green; */
  font-size: 1.3rem; /* Increase font size */
}

.no-recipes-warning {
  /* border: 2px solid green; */
  font-size: 1.2rem; /* Increase font size */
}
